<div class="footer">
<h1 style="text-align: center;">Contact Us</h1>
<div class="info">
<div class="Adress">
<h6><i class="fa fa-map-marker-alt" style="margin-right: 20px;"></i>Adress</h6>
<p>Sfax , Rue XXX </p>
<p>Tunis , XXX</p>
</div>
<div class="Adress">
    <h6><i class="fa fa-phone" style="margin-right: 20px;"></i>Phone</h6>
    <p>+216 xxx xxx xxx </p>
    <p>+216 xxx xxx xxx </p>
    </div>
<div class="contact">
    <h2>Follow Us on</h2> <br>
    <div class="social_media">
        <button><i class="fab fa-linkedin"></i></button>
        <button><i class="fab fa-facebook"></i></button>
        <button><i class="fab fa-instagram"></i></button>
        <button><i class="fab fa-twitter"></i></button>
    </div> <br>
</div>
</div></div>