<div class="AboutUs">
<div class="Text">
<h1>About Us</h1>
<h6>At Acesso, we offer a curated selection of stylish and functional accessories, from chic handbags to trendy tech gadgets. Each piece is crafted with exceptional attention to detail, ensuring you find the perfect accessory to complement your unique style.
</h6>
</div>
<div class="image">
    <img src="./assets/AboutUs/accessoires.png" alt="">
</div>
</div>
<div class="Team">
    <h1>Meet Our Leaders</h1>
    <div class="members">
    <div class="member">
        <img src="./assets/AboutUs/f1.png" alt="" style="width: 70%;height:80%;margin-left: 15%;">
        <h4>Leader 1</h4>
    </div>
    <div class="member">
        <img src="./assets/AboutUs/22.png" alt="">
        <h4>Leader 2</h4>
    </div>
    <div class="member">
        <img src="./assets/AboutUs/f33.png" alt="" style="height: 80%;">
        <h4>Leader 3</h4>
    </div>

</div> </div>
<app-footer></app-footer>