<div class="checkout">
  <div class="total">
    <h6>Total : {{this.total }} $</h6>
  </div>
  <div class="infos">
  <div class="adress">
    <h3>Billing adress :</h3>
    <label for="Name">Name</label> <br>
    <input type="text" name="Name" id="Name"> <br>
    <label for="Adress">Adress</label> <br>
    <input type="text" name="Address" id="Adress"> <br> 
    <label for="phone">Phone</label> <br>
    <input type="text" name="phone" id="phone"> <br> </div>
  <div class="payment">
    <h3>Payment :</h3>
    <h6>Accepted Cards</h6>
    <div class="icon-container">
      <i class="fa fa-cc-visa" style="color:navy;"></i>
      <i class="fa fa-cc-amex" style="color:blue;"></i>
      <i class="fa fa-cc-mastercard" style="color:red;"></i>
      <i class="fa fa-cc-discover" style="color:orange;"></i>
    </div>
    <label for="Name">Name On card</label> <br>
    <input type="text" name="Name" id="Name"> <br>
    <label for="number">Credit card number    </label> <br>
    <input type="number" name="number" id="number"> <br> 
  </div>
</div>
  <button>Continue to payment</button> <br> 
  <a href="/cart" style="color: black;">Back to shopping cart </a>
  </div>

