<div class="title">
    <h1>Explore our categories</h1>
  </div>
<div class="categories">
    <div class="col">
        <div class="img1c1"><img src="./assets/categories/img1c1.jpg" alt="" >
            <div class="overlay-content">
                <h2>Necklaces</h2>
                <p>Beautiful necklaces to complement any outfit.</p>
                <button class="shop-btn" (click)="shop()">Shop Now</button>
            </div></div>
        <div class="img2c1"><img src="./assets/categories/img2c1.jpg" alt="">
            <div class="overlay-content">
                <h2>Bracelets</h2>
                <p>Stylish bracelets for every occasion.</p>
                <button class="shop-btn" (click)="shop()">Shop Now</button>
            </div></div>
    </div>
<div class="col">
    <div class="img1c2"><img src="./assets/categories/img1c2.jpg" alt="" >
        <div class="overlay-content">
            <h2>Rings</h2>
            <p>Discover our elegant collection of rings, perfect for every occasion.</p>
            <button class="shop-btn" (click)="shop()">Shop Now</button>
        </div></div>
    <div class="img2c2"><img src="./assets/categories/img2c2.jpg" alt="" >
        <div class="overlay-content">
            <h2>Bags</h2>
            <p>Explore our fashionable bags, designed for every occasion.</p>
            <button class="shop-btn" (click)="shop()">Shop Now</button>
        </div></div>
    </div>
<div class="col">
    <div class="img1c3"><img src="./assets/categories/img1c3.jpg" alt="" >
        <div class="overlay-content">
            <h2>Earrings</h2>
            <p>Elegant earrings to complete your look.</p>
            <button class="shop-btn" (click)="shop()">Shop Now</button>
        </div></div>
    <div class="img2c3"><img src="./assets/categories/img2c3.jpg" alt="" >
        <div class="overlay-content">
            <h2>Sunglasses</h2>
            <p>Chic sunglasses to protect your eyes..</p>
            <button class="shop-btn" (click)="shop()">Shop Now</button>
        </div></div>
    
    </div>
</div>