<div class="cont">
    <!-- Form de sign In -->
    <form class="form sign-in" (ngSubmit)="onSubmit2()">
        <h2>Welcome</h2>
        <label> 
            <span>Username</span>
            <input type="text" name="username" [(ngModel)]="userLogin.username"/>
        </label>
        <label> 
            <span>Password</span>
            <input type="password" name="password" [(ngModel)]="userLogin.password"/>

        </label>
        <p class="forgot-pass">Forgot password?</p>
        <button type="submit" class="submit">Sign In</button>
    </form>
    <!-- La partie du text  -->
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h3>Don't have an account? Please Sign up!</h3>
            </div>
            <div class="img__text m--in">
                <h3>If you already have an account, just sign in.</h3>
            </div> <br>
            <div class="img__btn">
                <span class="m--up">Sign Up</span>
                <span class="m--in">Sign In</span>
            </div>
        </div>
         <!-- Form du Sign Up  -->
        <form class="form sign-up"   (ngSubmit)="onSubmit()">
            <h2>Create your Account</h2>
            <label>
                <span>Name</span>
                <input type="text" name="username" [(ngModel)]="user.username" />
            </label>
            <label>
                <span>Email</span>
                <input type="email" name="email" [(ngModel)]="user.email" />
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password"  [(ngModel)]="user.password" />
            </label>
            <button type="submit" class="submit">Sign Up</button>
        </form>
    </div>
</div>
<router-outlet></router-outlet>