.subscribe {
    padding: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 400px;
}
h1 {
    margin-left: 10%;
    color: #EBDFD6 ;
    font-size: 5vw;
    font-family: Daydream;
}
input {

  border-radius: 20px;
  padding: 8px;
  margin-top: 10%;
  margin-left: 30%;
  background-color: #EBDFD6;
}
button {
    background-color: #EBDFD6;
    margin-left: 42%;
    border-radius: 20px;
    padding: 8px;
    width: 30%;
}
