<div class="us">
    <h1 class="whyus">Why Choose Us ?</h1>
<div class="qualities">
    <div  class="q">
        <!-- icons from this website : https://www.flaticon.com/fr/chercher?word=disponibilit%C3%A9 -->
        <img src="./assets/qualities/s.png" alt=""> <br><br>
    <h4>Security</h4>
    </div>
    <div  class="q">
        <img src="./assets/qualities/r.png" alt="" > <br><br>
    <h4>Rapidity</h4>
    </div>
    <div  class="q">
        <img src="./assets/qualities/q.png" alt="" > <br> <br>
    <h4>Quality</h4>
    </div>
    <div  class="q">
    <img src="./assets/qualities/dd.png" alt=""> <br><br>
    <h4>Disponability</h4>
    </div>
</div>
</div>