<div class="testimonials">
<h1> Custpomer’s Testimonial</h1>
<div class="images">
    <button><i class="fa-solid fa-circle-arrow-left"></i>
    </button>
    <img src="./assets/review.jpg" alt="">
    <button><i class="fa-solid fa-circle-arrow-right"></i>
    </button>
</div>
<div class="text">
    <h3>Customer XX</h3>
    <h4 style="color: whitesmoke;">Customer</h4>
    <h6>I recently purchased several accessories from this site, and I couldn't be happier! The selection is fantastic, and I found exactly what I was looking for at great prices. The checkout process was smooth, and my order arrived quickly and well-packaged. Each item was just as described, and the quality exceeded my expectations. I especially love the unique designs that I haven't seen anywhere else. I will definitely be coming back for more!"</h6>
</div>


</div>