<div class="testimonials">
<h1> Custpomer’s Testimonial</h1>
<div class="images">
    <button><i class="fa-solid fa-circle-arrow-left"></i>
    </button>
    <img src="./assets/review.jpg" alt="">
    <button><i class="fa-solid fa-circle-arrow-right"></i>
    </button>
</div>
<div class="text">
    <h3>Slimen Eya</h3>
    <h4 style="color: whitesmoke;">Customer</h4>
    <h5>Dignissimos reprehenderit repellendus nobis error quibusdam? Atque animi sint unde quis reprehenderit, et, perspiciatis, debitis totam est deserunt eius officiis ipsum ducimus ad labore modi voluptatibus accusantium sapiente nam! Quaerat.</h5>
</div>


</div>