<div class="contactUs">
    <div class="sweet_message">
        <h1>Contact US</h1>
        <h6>Feel free to contact us and get your personalized accessory!
        </h6>
    </div>
    <div class="message">
        <form>
            <label for="fname">Name</label> 
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <label for="femail">Email</label>
            <input type="email" id="fname" name="email" placeholder="Email..">
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            <button>Submit</button>
        </form>
    </div>
    <h1>Find Us Here !</h1>
    <div class="infos">
        <div class="Adress">
            <h1><i class="fa fa-map-marker-alt custom icon" ></i></h1>
            <div class="info">
            <h3>Address</h3>
            <p>Tunis , XXX</p>
            </div>
            </div>
        <div class="Adress">
            <h1><i class="fa fa-envelope"></i></h1>
            <div class="info">
            <h3>Email</h3>
            <p>Accesso&#64;gmail.com</p>
            </div>
            </div>
        <div class="Adress">
            <h1><i class="fa fa-phone" style="margin-right: 20px;"></i></h1>
            <div class="info">
            <h3>Phone</h3>
            <p>+216 xxx xxx xxx</p>
            </div>
        </div>      
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2042.9780980390008!2d-0.8592751270568344!3d51.47879803930019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487685d0b8338bb5%3A0x98844889f50bcfaa!2saccesso!5e0!3m2!1sfr!2stn!4v1721554991760!5m2!1sfr!2stn" width="80%" height="350" style="border:0;margin-left: 10%;margin-bottom: 15%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <app-footer></app-footer>
</div>